include ../utils/variables.pug
include ../utils/mixins.pug
doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		block title

		//===== Basic Images =====
		link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
		//===== CSS =====
		link(rel="stylesheet" href="css/styles.min.css")

	body

		block content

		//===== Load JS =====
		script(src="js/libs.min.js")
		script(src="js/common.js")